	div#book_area {
		margin: 5%;
		width: 90%;
		height: 90%;
	}

	div#book {
		width: 100%;
		height: 100%;
	}

	#book .page-wrapper {
		perspective: 1500px;
	}

	.cover-page,
	.inside-cover-page,
	.single-page {
		position: relative;
	}

	/* 表紙 De-boss 処理 */
	.cover-page .cover-edge {
		position: absolute;
		top:0;
		width: 100%;
		height: 100%;
	}

	.inside-cover-page .cover-edge {
		position: absolute;
		top:0;
		width: 95%;
		height: 100%;
	}

	#inside-back-cover .cover-edge {
		left: 5%;
	}

	/* 見返し em-boss処理 */
	.inside-cover-page .inside-spine {
		position: absolute;
		top: 0;
		width: 5%;
		height: 100%;
	}

	/* ページセンター影 */
	.depth-shadow {
		position: absolute;
		top: 0;
		width: 5%;
	}

	.single-page .depth-shadow {
		height: 100% !important;
	}

	.page-depth {
		box-shadow: -10px 0 10px -10px #000, 10px 0 10px -10px #000;
		border-radius: 10px;
		background-color: #fff;
		background-image:
			repeating-linear-gradient(90deg, transparent, transparent 1px, #888 1px, #888 2px);
		width: 50%;
		height: 100%;
	}

	#inside-front-cover .depth {
		left: 0
	}

	#inside-back-cover .depth {
		right: 0
	}

	.shadow {
		box-shadow: #f00;
	}
