/** default **/
div.image-wrapper {
	overflow: hidden;
}

div.image-wrapper > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* page type
    single-page -> １ページ
    whole-page -> 見開き
*/
section.cover-page,
section.inside-cover-page,
section.single-page {
	width: 50%;
	height: 100%;
	overflow: hidden;
}

section.whole-page {
	width: 100%;
	height: 100%;
}

/* layout type
	frame -> 額縁
	fill -> ページ全体(余白なし)
	border -> ページ全体(上下、左右いずれかに余白)
*/

section.layout-frame > div,
div.layout-frame > div {
	padding: 6.25% 5%;
	height: 100%;
}

div.layout-border > div > img,
section.layout-border > div > img {
	object-fit: contain;
}

/* borderedJustificationの設定 */
.layout-border.split-vertical.equal-split-2 > div:first-child {
	padding: 5% 0 2.5% 0;
}

.layout-border.split-vertical.equal-split-2 > div:nth-child(2) {
	padding: 2.5% 0 5% 0;
}

.layout-border.split-vertical.equal-split-3 > div:first-child {
	padding: 5% 0 0.5% 0;
}

.layout-border.split-vertical.equal-split-3 > div:nth-child(2) {
	padding: 2.75% 0;
}

.layout-border.split-vertical.equal-split-3 > div:nth-child(3) {
	padding: 0.5% 0 5% 0;
}

/**
分割方法
split-vertical -> 縦に分割
split-horizontal -> 横に分割

equal-split-x -> x枚に均等分割
**/

section.split-vertical,
div.split-vertical {
	display: flex;
	flex-direction: column;
}

section.split-horizontal,
div.split-horizontal {
	display: flex;
	flex-direction: row;
	flex: 1
}

.split-horizontal.equal-split-2 > div,
.split-horizontal.equal-split-2 > img {
	width: 50%;
}

.split-horizontal.equal-split-3 > div,
.split-horizontal.equal-split-3 > img {
	width: 33.33333%;
}

.split-vertical.equal-split-2 > div,
.split-vertical.equal-split-2 > img {
	height: 50%;
}

.split-vertical.equal-split-3 > div,
.split-vertical.equal-split-3 > img {
	height: 33.33333%;
}
